@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
	margin: 0;

	background-color: #ddd;
	font-family: 'Noto Sans', sans-serif;
}

p {
	margin: 0;
	padding: 0;
	
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

ul.timeframe {
	position: relative;
	left: -2em;
	padding: 2em 0 0 0;
}

ul.timeframe li:not([title]) {
	position: relative;
	left: 1.75em;
}

ul.timeframe li[title]:before {
	position: relative;
	left: -2.2em;
	top: -0.1em;
	
	content: attr(title);
	font-size: 0.8em;
	color: #666;
}

a {
	text-decoration: none;
	color: #828;
}

a:hover {
	color: #626;
	font-weight: 600;
}

::selection {
	background-color: #626;
}

#name {
	position: relative;
	left: 0.4em;
	margin: 0;
	
	font-size: 4em;
	text-transform: lowercase;
}

#name .first {
	font-weight: 400;
	color: #333;
}

#name .last {
	font-weight: 700;
	color: #000;
}

.section {
	min-height: 1.6em;
	padding: 0.6em 0;
}

.section:hover .title {
	color: #828;
}

.section .title {
	position: absolute;
	right: 85%;
	width: 15%;
	min-width: 200px;
	margin: 0;
	
	font-size: 1.1em;
	text-align: right;
	text-transform: lowercase;
}

.section .content {
	position: relative;
	left: 15%;
	width: 60em;
	margin: 0;
	padding: 0 2em;
	
	text-align: left;
}

#presentation {
}

#contact {
}

#publication {
}

#document {
	display: none;
}

#project {
	display: none;
}

#misc {
}